<title>PNPh Library</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A simple library application using EJS templates.">
<meta name="keywords" content="EJS, Node.js, Express, Library, Template Engine">
<meta name="author" content="PNPh Students">
<link rel="icon" href="/img/favicon.png"  >
<link rel="stylesheet" href="/css/style.css">
