
<!DOCTYPE html>
<html>
<head>
    <%- include('partials/header') %>
</head>
<body>
    <h1>Welcome to the Index of our school system</h1>
    <p>This is a simple EJS template.</p>
    <div>
        <h2>Message: <i><%= message %></i></h2>
    </div>
    <div>
        <a href="/studentlist">Go to Student list</a>
    </div>
</body>
</html>